html, body {
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 10px;
}

.head {
    text-align: center;
}

.body {
    font-size: 1.5rem;
}

/* ol.body {
    list-style: none;
    padding: 0;
} */
ul.body {
    list-style: none;
    padding: 0;
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

ul.body .link {
    width: 100%;
    padding: 10px 0;
    border: 0;
    cursor: pointer;
}

ul.body .link:hover {
    box-shadow: 0px 0px 5px #444;
}

.more {
    width: 100%;
    font-size: 1.3rem;
    font-weight: bold;
    padding: 10px 0;
    border: 0;
    border-radius: 10px;
    background-color: cadetblue;
    cursor: pointer;
}

.more:hover {
    color: white;
    box-shadow: 0px 0px 5px #444;
}
